@media #{$mobile} {
  [class*="col-"] {
    width: 100%;
    max-width: 100%;
    flex: auto;
  }
  .mobile-btn-upload {
    text-align: right;
  }
  .stepper {
    padding-bottom: 25px;
    margin-top: -11px;
    padding-left: 10px;
    .step-text {
      position: absolute;
      font-size: 11px;
      width: 100%;
      top: 50px;
      left: 4px;
      float: left;
      font-weight: bold;
      text-align: left;
    }
  }
  .mobile-hide {
    display: none !important;
  }
}
