<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="React">
    <meta name="apple-mobile-web-app-title" content="React">
    <meta name="theme-color" content="#0080FF">
    <meta name="msapplication-navbutton-color" content="#0080FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- <link rel="icon" type="image/png" sizes="512x512" href="512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="512.png"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <a href="http://enable-javascript.com/">Javascript must me enabled to use this site.</a>
    </noscript>
    <react />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
  </body>
</html>
