{% if use_ssl is defined and use_ssl %}
server {
    listen 80;
    server_name {{ domain_app }};

    return 301 https://{{ domain_app }}$request_uri;
}

server {
    listen 443;
    server_name {{ domain_app }};
    root {{ mtc_server_root }};
    index index.html;

    ssl on;
    ssl_certificate /etc/nginx/ssl/moneytable.pem;
    ssl_certificate_key /etc/nginx/ssl/moneytable.key;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
{% else %}
server {
    listen 80;
    server_name {{ domain_app }};
    root {{ mtc_server_root }};
    index index.html;
    location / {
        try_files $uri $uri/ /index.html;
    }
}
{% endif %}